/* Navbar */

.nav-link:hover{
color: #198754 !important;
}

/* Main */

.img-profile{
  width: 150px;  
}
.img-work{
  width: 250px;  
}

.bg-grey{
  background-color: #e9eef5 !important;
}


/* footer */

.footer{
  height: 150px;
  
}